@font-face {
    font-family: 'Menlo';
    src: url(../../../../assets/Menlo-Regular.ttf) format('truetype');
}

.hero {

	margin-top: 71px !important;

	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: 40px;
	}
}


.hero-inner-nft {

	.tiles-wrap {
		justify-content: space-around !important;
		margin-bottom: 5px !important;
	}

	

	
	.topic {
		width: 50%;
	}

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
		
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}



	.main_right_top {
		text-align: left;
		color: red;
		margin-top: 20px;
		font-size: 18px;

		.bid {
			// margin-top: 20px;
			font-size: 12px;
			border: 1px solid red;
			color: red;
			background: transparent;
			font-weight: bold;
			padding: 10px 40px 10px 40px;
			font-family: menlo;
		}
	}

	.heading_title {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.main_right_desc1 {
		text-align: left;
		color: red;
		margin-top: 30px;
		font-size: 15px;
	}

	.main_right_desc {
		text-align: left;
		color: red;
		// margin-top: 10px;
		font-size: 13px;
		width: 77%;


		div {
			font-size: 12px;
			margin-left: 15px;
		}
	}

	.main_right_desc2 {
		text-align: left;
		color: red;
		margin-top: 10px;
		font-size: 15px;
	}
	
	.both_title {
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid red;
		padding-bottom: 20px;
	}

	.main_right_middle {
		text-align: left;
		font-weight: 900;
		font-size: 70px;
		font-family: menlo;
		color: red;
		margin-top: 30px;
	}

	.part2 {
		margin-top: 70px;
		font-size: 15px;
	}

	.main_right_desc_part2 {
		text-align: left;
		color: red;
		margin-top: 20px;
		font-size: 13px;
		width: 77%;

	}


	.bid_modal {
		width: 390px;
		height: 450px;
		border: 1px solid red;
		padding: 30px 50px 10px 40px;

		
		.main_right_desc_top {
			
			text-align: left;
			color: white;
			margin-top: 30px;
			font-size: 15px;
		}

		.main_right_desc2_top {
			text-align: left;
			color: red;
			margin-top: 10px;
			font-size: 15px;
			border-bottom: 1px solid red;
		}

		.create_collection_btn {
			border: 1px solid red;
			color: black;
			background: red;
			font-weight: bold;
			padding: 10px 35px 10px 35px;
			width: 210px;
		}

		.main_right_desc_top_btn_group {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: left;
			margin-top: 30px;
			font-size: 15px;
			
			span {
				color: red;
			}
		}
	}

}


@include media( '>=spec_medium' ) {
	.top-img-nft {
		// margin-left: -30px;
		img {
			margin-left: 50px;
			margin-top: 60px;
		}
		
	}

	
	.tiles-item-inner-nft-page {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 100%;
		// padding: 32px 30px;
		padding-top: 32px;
		padding-right: 20px;
		
		.explain-nft-page {
			margin-left: 100px;
	
		}
	}

	.explain-nft-page {

		.features-tiles-item-content-collection-create {

			.main_right_top_collection_create {
				display: flex;
				flex-direction: row;			
				align-items: center;
				justify-content: space-between;
				text-align: left;
				width: 470px;
				color: red;
				font-size: 16px;
				margin-top: 40px;
				
				.create_collection_btn {
					border: 1px solid red;
					color: black;
					background: red;
					font-weight: bold;
					padding: 10px 35px 10px 35px;
					width: 210px;
				}
	
				.cancel_collection_btn {
					border: 1px solid red;
					color: red;
					background: transparent;
					font-weight: bold;
					padding: 10px 35px 10px 35px;
					width: 210px;
				}
	
			}
		}
	}

	
}


@include media( '<=spec_medium' ) {

	.hero-inner-nft {

		.tiles-wrap {
			justify-content: space-around !important;
			margin-bottom: 5px !important;
		}

		.top-img-nft {
			img {
				// margin-left: 50px;
				margin-top: 60px;
				width: 100%;
			}
		}

		.tiles-item-inner-nft-page {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			height: 100%;
			// padding: 32px 30px;
			padding-top: 32px;
			// padding-right: 20px;
		}

		.explain-nft-page {
			// margin-left: 100px;

			.features-tiles-item-content-collection-create {

				.main_right_top_collection_create {
					display: flex;
					flex-direction: row;			
					align-items: center;
					justify-content: space-around;
					text-align: left;
					color: red;
					font-size: 16px;
					margin-top: 40px;
					
					.create_collection_btn {
						border: 1px solid red;
						color: black;
						background: red;
						font-weight: bold;
						padding: 10px 35px 10px 35px;
						width: 210px;
					}
		
					.cancel_collection_btn {
						border: 1px solid red;
						color: red;
						background: transparent;
						font-weight: bold;
						padding: 10px 35px 10px 35px;
						width: 210px;
					}
		
				}
			}
		}

		.topic {
			width: 77%;
		}

	}


	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}

}

@include media('<medium') {

	.bid_modal {
		width: 350px !important;
		height: 450px;
		border: 1px solid red;
		padding: 30px 50px 10px 40px;
	}

	.features-tiles-item-content-collection-create {

		.main_right_top_collection_create {
			display: flex;
			flex-direction: row;			
			align-items: center;
			justify-content: space-between;
			flex-direction: column !important;		
			text-align: left;
			// width: 470px;
			color: red;
			font-size: 16px;
			margin-top: 40px;
			
			.create_collection_btn {
				border: 1px solid red;
				color: black;
				background: red;
				font-weight: bold;
				padding: 10px 35px 10px 35px;
				width: 210px;
			}

			.cancel_collection_btn {
				border: 1px solid red;
				color: red;
				background: transparent;
				font-weight: bold;
				padding: 10px 35px 10px 35px;
				width: 210px;
			}

		}
	}
}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.hero-inner-nft {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}
}

.scrroll-effect::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
	}
	
.scrroll-effect::-webkit-scrollbar-track {
background: black;        /* color of the tracking area */
}

.scrroll-effect::-webkit-scrollbar-thumb {
background-color: rgba(255, 0, 0, 0.7);    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid black;  /* creates padding around scroll thumb */
}


.cancel_collection_btn {
	position: relative;
    top: 0;
    margin-top: 0;
    // box-shadow: 3px 3px 0.5px 0.5px rgba(255, 0, 0, 0.7);
    display: block;
    background: red;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}


.cancel_collection_btn:active {
    /** Remove 3D Block Effect on Click **/
    box-shadow: none;
    top: 3px;
    left:3px;
    margin-bottom: 0;
  }
  
  .cancel_collection_btn:hover {
    opacity: 1;
  }
  
  .cancel_collection_btn:active,
  .cancel_collection_btn:focus {
    /** Remove Chrome's Ugly Yellow Outline **/
    outline: 0;
  }



.create_collection_btn {
	position: relative;
    top: 0;
    margin-top: 0;
    box-shadow: 3px 3px 0.5px 0.5px rgba(255, 0, 0, 0.7);
    display: block;
    background: red;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;

}

.create_collection_btn:active {
    /** Remove 3D Block Effect on Click **/
    box-shadow: none;
    top: 3px;
    left:3px;
    margin-bottom: 0;
  }
  
  .create_collection_btn:hover {
    opacity: 1;
  }
  
  .create_collection_btn:active,
  .create_collection_btn:focus {
    /** Remove Chrome's Ugly Yellow Outline **/
    outline: 0;
  }